extends layout

block content
	body.home-bg
		div
			ul
				a(href='./css/stylesheets/images/logo.small.png')
				img#logo(src='./css/stylesheets/images/logo.small.png' alt='Article Logo')
				if user
					li
						a(href='/profile') Your profile
					li
						a(href='/yourposts') Your posts
					li
						a(href='/new') Create a new post
					li
						a(href='/posts') Blogfeed
					li
						a(href='/logout') Log out
				else
					li
						a(href='/') Home/Log in
					li
						a(href='/posts') Blogfeed

					

		if user 
			p #{user.username}
		if user 
			h1 Welcome, #{user.username}
		else
			h2= message