/* apply a natural box layout model to all elements */
@import 'partials/_colors';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $primary-color;
}

li {
  float: left;
  a {
    display: block;
    color: $tertiary-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
      background-color: $secondary-color;
    }
  }
}

/* Change the link color to #111 (black) on hover */